.custom-heading{
  font-family: 'Roboto';
  font-weight: 600;
  color: #B11D8D;
}
.custom-btn{
  background-color: #B11D8D !important;
  color: #fff !important;
  border: 0 !important;
}
.custom-outline-btn{
  color: #B11D8D !important;
  border-color: #B11D8D !important;
  border: 0 !important;

}

.custom-outline-btn:hover{
  background-color: #B11D8D !important;
  color: #fff !important;
}

.custom-btn:hover{
  background-color: #750494 !important;
  color: #fff !important;
}

.text-justify{
  text-align: justify;
}

